@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
    --white: #F9FAF8;
    --grey: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header nav ul {
    display: flex;
    gap: 24px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
}